<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.examplelist"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <!-- Parse Setting -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- End of Parse Setting -->


    <!-- Copied from Google Maps Library/AndroidManifest.xml. -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!-- External storage for caching. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- My Location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Maps API needs OpenGL ES 2.0. -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application android:name=".CameraApp" >

        <!--
         ** You need to replace the key below with your own key. **
         See: https://developers.google.com/maps/documentation/android/start
         for instructions on how to get your own key.
        -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDDVvrsnFzJtGQAnf4-hsRpjmCY06rDIU8" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!-- End of copy. -->

        <activity
            android:name="com.example.examplelist.MainActivity"
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.examplelist.Example1Activity"
            android:label="@string/example1_label" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.examplelist.MainActivity" />
        </activity>
        <activity
            android:name="com.example.examplelist.CameraActivity"
            android:label="@string/camera_label" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.examplelist.MainActivity" />
        </activity>
        <activity
            android:name="com.example.examplelist.CameraListActivity"
            android:label="@string/camera_list_label" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.examplelist.CameraActivity" />
        </activity>
        <activity
            android:name="com.example.examplelist.CameraModify"
            android:label="@string/camera_list_label" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.examplelist.CameraListActivity" />
        </activity>
    </application>

</manifest>